DSC 540 - Data Wrangling
Week 11 & 12 Assignment
Eyram Kueviakoe

1. Connect to the petsDB and check whether the connection has been successful

In [1]:
# Let's import the libraries we need
import sqlite3

# Let's assign the database to a variable
database = 'petsdb'

# Connecting to the database
conn = sqlite3.connect(database)

In [2]:
# Let's create a function to check if the connection was successful
def check_connection(conn):
    try:
        # Create a cursor to interact with the database
        cursor = conn.cursor()
        
        # Let's execute a sql query to check the connection
        cursor.execute("SELECT 1")
        
        # Let's now close the cursor
        cursor.close()
        
        # If query is successful, let's return True
        print('The connection was successful')
        return True
    except sqlite3.Error as e:
        # Display error message if there was an error and return false
        print('The connection was not successful')
        return False

In [3]:
# Checking the connection
print("Connection successful:", check_connection(conn))

The connection was successful
Connection successful: True

In [4]:
# Closing the connection
conn.close()

2. Find the different age groups in the persons database

In [5]:
# Different age groups
# We are going to use the library Prettytable to nicely display the result
from prettytable import PrettyTable

# Connecting to the database
conn = sqlite3.connect(database)
c = conn.cursor()

# Query to select the age and the count
query = " SELECT age, COUNT(*) AS count FROM persons GROUP BY age;"

# Let's execute the query
c.execute(query)
rows = c.fetchall()

# Closing the connection
conn.close()

# We are going to use the library Prettytable to nicely display the result
table = PrettyTable()
table.field_names = ["Age", "Number of Persons"]

# Add rows to the table
for row in rows:
    table.add_row(row)

# Printing the table
print(table)

+-----+-------------------+
| Age | Number of Persons |
+-----+-------------------+
|  5  |         2         |
|  6  |         1         |
|  7  |         1         |
|  8  |         3         |
|  9  |         1         |
|  11 |         2         |
|  12 |         3         |
|  13 |         1         |
|  14 |         4         |
|  16 |         2         |
|  17 |         2         |
|  18 |         3         |
|  19 |         1         |
|  22 |         3         |
|  23 |         2         |
|  24 |         3         |
|  25 |         2         |
|  27 |         1         |
|  30 |         1         |
|  31 |         3         |
|  32 |         1         |
|  33 |         1         |
|  34 |         2         |
|  35 |         3         |
|  36 |         3         |
|  37 |         1         |
|  39 |         2         |
|  40 |         1         |
|  42 |         1         |
|  44 |         2         |
|  48 |         2         |
|  49 |         1         |
|  50 |         1         |
|  51 |         2         |
|  52 |         2         |
|  53 |         2         |
|  54 |         2         |
|  58 |         1         |
|  59 |         1         |
|  60 |         1         |
|  61 |         1         |
|  62 |         2         |
|  63 |         1         |
|  65 |         2         |
|  66 |         2         |
|  67 |         1         |
|  68 |         3         |
|  69 |         1         |
|  70 |         1         |
|  71 |         4         |
|  72 |         1         |
|  73 |         5         |
|  74 |         3         |
+-----+-------------------+

3. Find the age group that has the maximum number of people

In [6]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the maximum
query = "SELECT age, COUNT(*) AS count FROM persons GROUP BY age ORDER BY count DESC LIMIT 1;"

# Let's execute the query
cursor.execute(query)

# Let's fetch the result. There will be only 1 row in the result
result = cursor.fetchone()

age, count = result

# Printing the result
print('The age group that have the maximum number of people is :', age)
print('The maximum number of people is :', count)

# Closing the connection
conn.close()

The age group that have the maximum number of people is : 73
The maximum number of people is : 5

4. Find the people who do not have a last name

In [7]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the people who do not have last name
query_no_last_name = "SELECT first_name FROM persons WHERE last_name IS NULL or Last_name = '';"

# Query to count the number of people with no last name
query_count = "SELECT COUNT(*) FROM persons WHERE last_name IS NULL OR last_name = '';"

# Let's execute the query to count the number of person
cursor.execute(query_count)
count = cursor.fetchone()[0]

# Printing the count
print('There are ', count, ' people with no last name')

# Let's execute the query to list the people with no last name
cursor.execute(query_no_last_name)

# Printing the result of names
print("People who do not have a last name:")
for row in cursor:
    first_name = row[0]
    print(first_name)
    
# Closing the connection
conn.close()

There are  60  people with no last name
People who do not have a last name:
Erica
Jordi
Chasity
Gregg
Cary
Francisca
Raleigh
Maria
Mariane
Mona
Kayla
Karlie
Morris
Sandy
Hector
Hiram
Tressa
Berry
Pearline
Maynard
Dorian
Mylene
Lafayette
Tara
Destiny
Lesly
Perry
Maritza
Grant
Laury
Name
Estefania
Destiney
Jaquelin
Alfonzo
Lisandro
Priscilla
Elenora
Rudolph
Ona
Rebeca
Sigurd
Alice
Dane
Judge
Allene
Jalen
Myron
Travon
Shayna
Myah
Letha
Felton
London
Koby
Golden
Anissa
Sid
Ernesto
Josianne

5. Find out how many people have more than 1 pet

In [8]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the number of people with more that 1 pet
query = "SELECT owner_id, COUNT(*) AS number_of_pets FROM pets GROUP BY owner_id HAVING number_of_pets > 1;"

# Let's execute the query
cursor.execute(query)

# Let's initialize a counter for people with more than one pet
people_with_multiple_pets = 0

# Let's loop through the reset and count
for row in cursor:
    people_with_multiple_pets += 1
    
# Printing the results
print('Number of people with more than one pet:',people_with_multiple_pets)

# Closing the connection
conn.close()

Number of people with more than one pet: 43

6. Find out how many pets have received treatment

In [9]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the number of pets who have reveiced treatment
query = "SELECT COUNT(*) AS number_of_pets FROM pets WHERE treatment_done = 1;"

# Let's execute the query
cursor.execute(query)

# Initialize number_of_pets counter
number_of_pets = 0

# Let's loop through the result to get the number of pets
for row in cursor:
    number_of_pets = row[0]

# Printing the result
print('Number of pets who have received treatment: ',number_of_pets)

# Closing the connection
conn.close()

Number of pets who have received treatment:  36

7. Find out how many pets have received treatment and the type of pet is known

In [10]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the number of pets who have reveiced treatment and the type of pet is known
query = "SELECT COUNT(*) AS number_of_pets FROM pets WHERE treatment_done = 1 AND pet_type IS NOT NULL;"

# Let's execute the query
cursor.execute(query)

# Initialize the counter number_of_pets
number_of_pets = 0

# Let's loop through the result to get the number of pets
for row in cursor:
    number_of_pets = row[0]

# Printing the result
print('Number of pets who have received treatment and we know the type of pet is ',number_of_pets)

# Closing the connection
conn.close()

Number of pets who have received treatment and we know the type of pet is  16

8. How many pets are from the city called east port

In [11]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the number of pets from east port
query = """
SELECT COUNT(*) AS number_of_pets_east_port 
FROM pets 
INNER JOIN persons on pets.owner_id = persons.id 
WHERE persons.city = 'east port';
"""

# Let's execute the query
cursor.execute(query)

# Initialize counter number_of_pets
number_of_pets_east_port = 0

# Let's loop through the result to get the number of pets
for row in cursor:
    number_of_pets_east_port = row[0]

# Printing the result
print('Number of pets from East Port is ',number_of_pets_east_port)

# Closing the connection
conn.close()

Number of pets from East Port is  49

9. Find out how many pets are from east port and who have received treatment

In [12]:
# Connecting to the database
conn = sqlite3.connect(database)

cursor = conn.cursor()

# Query to find the number of pets from east port and who have received treatment
query = """
SELECT COUNT(*) AS number_of_pets_east_port
FROM pets
INNER JOIN persons on pets.owner_id = persons.id
WHERE persons.city = 'east port' AND pets.treatment_done = 1;
"""

# Let's execute the query
cursor.execute(query)

# Initialize the counter
number_of_pets_east_port_with = 0

# Let's loop through the result to get the number of pets
for row in cursor:
    number_of_pets_east_port = row[0]

# Printing the result
print('Number of pets from East Port and who have receive treatment is ',number_of_pets_east_port)

# Closing the connection
conn.close()

Number of pets from East Port and who have receive treatment is  11