DSC 540 - Data Preparation
Milestone 4
Eyram Kueviakoe

In [1]:
# Librairies
import pandas as pd
import numpy as np
import requests

In [2]:
# Funtion to get the data needed for the analysis from the api

def get_spi_data():
    api_url = "http://api.worldbank.org/v2/country/all/indicator/SPI.INDEX"
    

    # Parameters for the API
    params = {
        'format': 'json',     # We want the response in json format
        'per_page': '10000'   # We are setting this number high so that we can retrieve all data in one request
    }
    
    # Sending a a get request to the api
    response = requests.get(api_url, params=params)
    data = response.json()
    
    # Checking if the request was successful
    if isinstance(data, list) and len(data) > 1:
        entries = data[1]
    else:
        raise ValueError("Data not found")
    
    # Let's initialize an empty list to store the results
    records = []
    
    # Let's loop over the entries
    for entry in entries:
        if 'country' in entry and 'date' in entry and 'value' in entry:
            # Add to needed field to a dictionnary
            records.append({
                'Country': entry['country']['value'],  # Country name
                'Year': entry['date'],                # Year
                'SPI.INDEX': entry['value']           # SPI index value
            })
    
    # Let's create a dataframe from the records list
    performance_indicator = pd.DataFrame(records)
    
    # Return the DataFrame
    return performance_indicator

# Using the function to get the data and creating a dataframe
performance_indicator = get_spi_data()

# Diplaying random rows from the dataframe
performance_indicator.head(10)

       Country  Year  SPI.INDEX
0  Afghanistan  2022  58.014167
1  Afghanistan  2021  58.014167
2  Afghanistan  2020  54.396667
3  Afghanistan  2019  49.756250
4  Afghanistan  2018  49.845000
5  Afghanistan  2017  42.577917
6  Afghanistan  2016  37.222917
7  Afghanistan  2015        NaN
8  Afghanistan  2014        NaN
9  Afghanistan  2013        NaN

Step 1: Replacing headers
We are going to rename the header SPI.Index by performance

In [3]:
performance_indicator.rename(columns={'SPI.INDEX': 'Performance'}, inplace=True)

Step 2: Checking for missing values

In [4]:
# Let's count the number of missing values
missing_values_count = performance_indicator.isna().sum()

print(missing_values_count)

Country           0
Year              0
Performance    2886
dtype: int64

Step 3: Replace missing values
We are going to replace the missing performance indicator wit the pervious or next performance value pf the country.
We will use the forward fill and backward fill methods

In [5]:
# Sorting the dataframe by Country and Year
performance_indicator.sort_values(by=['Country', 'Year'], ascending=[True, False], inplace=True)

# Forward fill and backward fill to replace missing values
performance_indicator['Performance'] = performance_indicator.groupby('Country')['Performance'].ffill().bfill()

# Diplaying random rows from the dataframe
performance_indicator.head(10)

       Country  Year  Performance
0  Afghanistan  2022    58.014167
1  Afghanistan  2021    58.014167
2  Afghanistan  2020    54.396667
3  Afghanistan  2019    49.756250
4  Afghanistan  2018    49.845000
5  Afghanistan  2017    42.577917
6  Afghanistan  2016    37.222917
7  Afghanistan  2015    37.222917
8  Afghanistan  2014    37.222917
9  Afghanistan  2013    37.222917

Step 4: Convert country name into upper case

In [6]:
# Converting country to upper cases
performance_indicator['Country'] = performance_indicator['Country'].str.upper()

# Printing the first 5 rows
performance_indicator.head(5)

       Country  Year  Performance
0  AFGHANISTAN  2022    58.014167
1  AFGHANISTAN  2021    58.014167
2  AFGHANISTAN  2020    54.396667
3  AFGHANISTAN  2019    49.756250
4  AFGHANISTAN  2018    49.845000

List of transformations:
After pulling the Statictical Performance Indicators using the World Bank APi, we make the following transformations
Step 1: Replacethe hearders: We replace the column's name SPI_INDEX by Performanche
Step 2: Check for missing values
Step 3: Replace the missing values with the previous or next value of the performance of the country
Step 4: Change country name into uppercase

For this project, we were able to verify the source of the dataset.
The data is made available to the public using an API provided by the World Bank. We were able to also verify the source of the data. The sources of the data are the International Monetary Fund and the World Back, which are all reliable sources.
Because the accuracy of the data will impact the analysis, we are making sure that the transformations maintain the integrity and accuracy of the data. We  also documented all the transformations. We also made sure we were not introducing any errors or biases in the dataset.
There is however a risk that we are not using the correct performance indicator because the data was missing some values are are replacing them with the previous or next value. We tried to use the average value but it was creating a huge jump in performance from one year to another.

In [7]:
performance_indicator.to_csv('performance_indicator.csv')